In [4]:
pip install pandas

Collecting pandas
  Downloading pandas-1.4.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.7 MB)
     |████████████████████████████████| 11.7 MB 3.8 MB/s
Collecting pytz>=2020.1
  Using cached pytz-2021.3-py2.py3-none-any.whl (503 kB)
Collecting numpy>=1.18.5
  Downloading numpy-1.22.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.8 MB)
     |████████████████████████████████| 16.8 MB 25.1 MB/s
Requirement already satisfied: python-dateutil>=2.8.1 in ./.env/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in ./.env/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.22.2 pandas-1.4.1 pytz-2021.3
WARNING: You are using pip version 21.3.1; however, version 22.0.3 is available.
You should consider upgrading via the '/mnt/c/Users/irvif/dev/data-visualization/.env/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [8]:
pip install pyxlsb

Collecting pyxlsb
  Downloading pyxlsb-1.0.9-py2.py3-none-any.whl (23 kB)
Installing collected packages: pyxlsb
Successfully installed pyxlsb-1.0.9
WARNING: You are using pip version 21.3.1; however, version 22.0.3 is available.
You should consider upgrading via the '/mnt/c/Users/irvif/dev/data-visualization/.env/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [9]:
import pandas as pd

In [18]:
def get_gla_lts_rd(input_file_path):
    # We only get the LTS roads which located on sheet 1
    df_sheet_laei_lts_rd = pd.read_excel(input_file_path, sheet_name=1)
    df_sheet_laei_lts_rd_gla = df_sheet_laei_lts_rd[df_sheet_laei_lts_rd['BoroughName_ExactCut'] != "NonGLA"]
    return df_sheet_laei_lts_rd_gla

In [19]:
df_sheet_laei_2016_lts_rd_input_file_path = 'data/raw/raw/greater-london-area/LAEI_2016_Detailed_Road_Transport_MajorRoads_Excel/Link/LAEI2016_MajorRoads_EmissionsbyLink_2016.xlsb'
df_sheet_laei_2016_lts_rd_gla = get_gla_lts_rd(df_sheet_laei_2016_lts_rd_input_file_path)

In [20]:
df_sheet_laei_2016_lts_rd_gla.head()

,GridId,Toid,GRID_ExactCut_ID,Location_ExactCut,BoroughName_ExactCut,DoT ID,Length (m),Emissions,Year,Pollutant,...,Diesel Car,Electric Car,Petrol LGV,Diesel LGV,Electric LGV,TfL Bus,Coach,Rigid HGV,Artic HGV,Total
20,6447,4000000027865921,526,Outer,Enfield,27883,233.431466,DFT,2016,CO2,...,571.381133,0.0,6.864563,212.556255,0.0,0.0,38.417863,274.010807,869.410394,2422.443915
21,6449,4000000027865921,528,Outer,Enfield,27883,556.683238,DFT,2016,CO2,...,1362.619638,0.0,16.370489,506.900403,0.0,0.0,91.618240,653.456134,2073.354555,5777.001472
22,6448,4000000027865921,1222,Outer,Enfield,27883,514.969431,DFT,2016,CO2,...,1260.514797,0.0,15.143803,468.916961,0.0,0.0,84.753034,604.490867,1917.992391,5344.114850
23,6621,4000000027865921,1893,Outer,Enfield,27883,13.845766,DFT,2016,CO2,...,33.890930,0.0,0.407165,12.607573,0.0,0.0,2.278719,16.252691,51.568253,143.684962
24,6622,4000000027865921,2583,Outer,Enfield,27883,133.474744,DFT,2016,CO2,...,326.712382,0.0,3.925117,121.538420,0.0,0.0,21.967109,156.677773,497.123765,1385.139227

In [22]:
road_emission_attr = [
    'BoroughName_ExactCut',
    'Length (m)',
    'Emissions',
    'Year',
    'Pollutant',
    'Motorcycle',
    'Taxi',
    'Petrol Car',
    'Diesel Car',
    'Electric Car',
    'Petrol LGV',
    'Diesel LGV',
    'Electric LGV',
    'TfL Bus',
    'Coach',
    'Rigid HGV',
    'Artic HGV',
    'Total'
]

In [28]:
from pathlib import Path
# All in killotonne
laei_2016_lts_rd_gla_file_path = Path('data/laei_2016_lts_rd_gla.csv')  
laei_2016_lts_rd_gla_file_path.parent.mkdir(parents=True, exist_ok=True)
df_sheet_laei_2016_lts_rd_gla_copy = df_sheet_laei_2016_lts_rd_gla.copy()[road_emission_attr]
# df_sheet_laei_2016_lts_rd_gla_copy.head()
df_sheet_laei_2016_lts_rd_gla.to_csv(laei_2016_lts_rd_gla_file_path)

In [43]:
def get_gla_tree_map(input_file_path):
    # We only have 1 sheet here
    tree_attr = [
    'borough',
    'load_date',
    'longitude',
    'latitude'
    ]
    df_sheet_gla_tree_map = pd.read_csv(input_file_path, encoding='latin1')
    df_sheet_gla_tree_map = df_sheet_gla_tree_map[tree_attr]
    return df_sheet_gla_tree_map

In [44]:
df_sheet_gla_tree_map_2018_file_path = 'data/raw/raw/greater-london-area/green-spaces/london_street_trees_gla_20180214.csv'
df_sheet_gla_tree_map_2018 = get_gla_tree_map(df_sheet_gla_tree_map_2018_file_path)
df_sheet_gla_tree_map_2018.head()

/tmp/ipykernel_3791/3801970831.py:9: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_sheet_gla_tree_map = pd.read_csv(input_file_path, encoding='latin1')

    borough  load_date  longitude   latitude
0  Barking    20180214   0.139454  51.585695
1  Barking    20180214   0.139123  51.585670
2  Barking    20180214   0.139004  51.585689
3  Barking    20180214   0.139134  51.585732
4  Barking    20180214   0.139288  51.585819

In [45]:
from pathlib import Path
gla_tree_map_2018_file_path = Path('data/gla_tree_map_2018.csv')  
gla_tree_map_2018_file_path.parent.mkdir(parents=True, exist_ok=True)
df_sheet_gla_tree_map_2018.to_csv(gla_tree_map_2018_file_path)